# Q1

## Identify all the unique values in the dictionary

inp: inp = {1:2, 2:3, 3:4, 4:2, 5:2}

out: [2 ,3 ,4]

# Q2


## return a list of the values of a dictionary when its corresponding key is an integer less than 10.

inp: {'Econ': '611', 1:2, 14:15, 6:'14'}

out: [2, 14]

# Q3

## Given a string, find the word with the highest count.
<!-- ## a. Separate the string into words
## b. keep a count of the words
## c. return the word with the highest count -->
## inp: "I went to school to study." 
## out: "to: 2"

# Q4

# Given two lists, write all the possible combinations of the two into a new list.

## input: [1, 2, 3, 4] and ['a', 'b', 'c', 'd']

## output: [(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

# Q5

##  Given two sorted lists, merge them maintaining the sorted order.

### input: [1, 3, 6] and [1, 2, 5, 14]
### output: [1, 1, 2, 3, 5, 6, 14]

<h1 style="background-color:red; color:white">Ask for Permission than Forgiveness</h1>

In [29]:
library(pandas)

NameError: name 'library' is not defined

In [31]:
def func1(usr_input):
    try:
        num = int(usr_input)
        break
    except:
        print("this is not correct")

SyntaxError: 'break' outside loop (1168481664.py, line 4)

In [32]:
while 1:
    break

In [44]:
counter = 0
while counter < 10:
    print("1")
    raise LunchError('lunch break')
    counter += 1

1

LunchError: lunch break

In [27]:
print(func1(0))

None

In [ ]:
try:
    pass
except:
    pass

In [ ]:
while 0
while 1

In [30]:
raise ValueError

ValueError:

In [40]:
raise MemoryError

MemoryError:

In [42]:
class LunchError(Exception):
    pass

# raise LunchError("Programmer went to lunch")

In [47]:
import pandas
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [45]:
class NoMoneyException(Exception):
    pass

class OutOfBudget(Exception):
    pass

balance = int(input("Enter a balance: "))
if balance < 1000:
    raise NoMoneyException
elif balance > 10000:
    raise OutOfBudget

Enter a balance: 0

NoMoneyException:

In [49]:
try:
    lunch()
except NameError:
    print('Fix your syntax')
except TypeError:
    print('Oh no! A TypeError has occured')
except ValueError:
    print('A ValueError occured!')
except ZeroDivisionError:
    print('Did by zero?')
else:
    print('No exception')
finally:
    print('Ok then')

Fix your syntax
Ok then