In [15]:
import os

In [16]:
os.getcwd()

'/Users/leijunjie/Downloads/MSAE-fall2020-CodePrep/class7'

In [17]:
from selenium import webdriver

In [18]:
driver = webdriver.Chrome('/Users/leijunjie/Downloads/chromedriver')

/var/folders/ys/98s0q77d0bl4mpqsp4lf7c740000gn/T/ipykernel_46223/2163997480.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/Users/leijunjie/Downloads/chromedriver')

In [19]:
url = 'https://www.youtube.com/channel/UCuDWqzSSHgHkD0zBwrIXSNQ/videos'
driver.get(url)

In [20]:
videos=driver.find_elements_by_class_name('style-scope ytd-grid-video-renderer')

/var/folders/ys/98s0q77d0bl4mpqsp4lf7c740000gn/T/ipykernel_46223/1992392603.py:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  videos=driver.find_elements_by_class_name('style-scope ytd-grid-video-renderer')

In [21]:
video_list = []
for video in videos:
        title = video.find_element_by_xpath('.//*[@id="video-title"]').text
        views = video.find_element_by_xpath('.//*[@id="metadata-line"]/span[1]').text
        when = video.find_element_by_xpath('.//*[@id="metadata-line"]/span[2]').text 
        video_item = {
            'title':title, 
            'views': views, 
            'posted': when
        }
        video_list.append(video_item)

In [22]:
import pandas as pd
pd.DataFrame(video_list)

,title,views,posted
0,LinkedIn SQL Interview Question for Data Scien...,266 views,3 weeks ago
1,Twitter Window Functions SQL Interview Questio...,33 views,3 weeks ago
2,Spotify SQL Interview Question for Data Scient...,232 views,4 weeks ago
3,Another Amazon SQL Interview Question for Data...,493 views,2 months ago
4,Apple SQL Interview Question for Data Scientis...,501 views,2 months ago
5,Microsoft SQL Interview Question for Data Scie...,264 views,2 months ago
6,Amazon SQL Interview Question for Data Scienti...,2.3K views,3 months ago
7,Facebook SQL Interview Question for Data Scien...,694 views,3 months ago
8,Real SQL Interview Question for Data Scientist...,469 views,4 months ago
9,LeetCode 1412: Find the Quiet Students in All ...,483 views,4 months ago
10,LeetCode 1699: Number of Calls Between Two Per...,506 views,4 months ago
11,LeetCode 586: Customer Placing the Largest Num...,472 views,4 months ago
12,LeetCode 1350: Students With Invalid Departmen...,281 views,4 months ago
13,LeetCode 1204: Last Person to Fit in the Eleva...,505 views,4 months ago
14,LeetCode 1633: Percentage of Users Attended a ...,379 views,5 months ago
15,LeetCode 610: Triangle Judgement [SQL],302 views,5 months ago
16,LeetCode 1173: Immediate Food Delivery I [SQL],387 views,5 months ago
17,LeetCode 1468: Calculate Salaries [SQL],405 views,5 months ago
18,LeetCode 1821: Find Customers With Positive Re...,297 views,5 months ago
19,LeetCode 577: Employee Bonus [SQL],424 views,5 months ago
20,LeetCode 1212: Team Scores in Football Tournam...,632 views,6 months ago
21,LeetCode 1393: Capital Gain/Loss [SQL],341 views,6 months ago
22,LeetCode 1741: Find Total Time Spent by Each E...,478 views,6 months ago
23,LeetCode 1407: Top Travellers [SQL],368 views,6 months ago
24,LeetCode 1661: Average Time of Process per Mac...,459 views,6 months ago
25,LeetCode 1571: Warehouse Manager [SQL],364 views,6 months ago
26,LeetCode 1501: Countries You Can Safely Invest...,429 views,6 months ago
27,LeetCode 1783: Grand Slam Titles [SQL],412 views,6 months ago
28,LeetCode 1777: Product's Price for Each Store ...,543 views,6 months ago
29,LeetCode 1757: Recyclable and Low Fat Products...,446 views,6 months ago

In [23]:
# pd.write_csv()